<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string> 学水兵月做动作，然后对一个人說: 我要代替月亮懲罰你!!!</string>
	<string> 做好莱坞kiss</string>
	<string> 原地转10圈（就近靠下)</string>
	<string> 学模特走猫步</string>
	<string> 对外大喊：我是猪</string>
	<string> 摆3个芙蓉姐姐S形</string>
	<string> 跳舞转圈</string>
	<string> 对喂花生米</string>
	<string> 和右边第二个 异性，一个演水兵月，一个演超兽，然后水兵月要把超兽打倒</string>
	<string> 穿自己的外套表演 张倾城之“我脱、我穿、我再脱、我再穿”</string>
	<string> 站起來,大喊&quot;我是超人,我要回家了！”</string>
	<string> 对陌生人美眉挤眉弄眼 </string>
	<string> 抓着铁门喊“放我出去！” </string>
	<string> 让他到街上大喊“卖拖鞋啦～2块一双，买一送3” </string>
	<string> 模仿脑白金广告，边唱边跳 </string>
	<string> 模仿古代特殊职业女子拉客 </string>
	<string> 深情的吻墙10秒 </string>
	<string> 蹲在凳子上作便秘状  </string>
	<string> 跳草裙舞、脱衣舞（反正是冬天） </string>
	<string> 吃下每个人为你夹得菜（如果是辣椒……） </string>
	<string> 做自己最性感、最妩媚的表情或动作 </string>
	<string> 邀请一位异性为你唱情歌，或邀请一位异性与你情歌对唱 </string>
	<string> 与一位异性十指相扣，对视10秒 </string>
	<string> 像一位异性表白3分钟 </string>
	<string> 抱一位异性直到下一轮真心话大冒险结束 </string>
	<string> 做一个大家都满意的鬼脸 </string>
	<string> 唱青藏高原最后一句 </string>
	<string> 背一位异性绕场一周 </string>
	<string>模仿美队拉直升机的动作</string>
	<string>模仿小狗🐶要食物的动作</string>
	<string>模仿叶问说：我要打十个！</string>
	<string>表演一下中大奖的表情</string>
	<string>指定在场一位玩家将你公主抱5秒</string>
	<string>模仿小哈士奇叫：阿伟~阿伟~阿伟~</string>
	<string>举起双手直到一下一轮结束</string>
	<string>将眼睛闭上直到下一轮结束</string>
	<string>双手侧平举，模仿直升飞机转圈转圈转圈~</string>
	<string>拍拍一个陌生人的背，然说说：不好意思，认错人了</string>
	<string>找一个陌生人干杯</string>
	<string>对一个陌生人说：请问洗手间在哪？</string>
	<string>大喊：天王盖地府，全考985！宝塔镇河妖，全上211!</string>
	<string>在朋友圈发一天说说：今天好伤心</string>
	<string>展示你微信的最后一条消息</string>
	<string>与右边的第一位异性表演电影《泰坦尼克号》的经典动作</string>
	<string>表演一段舞蹈，内容不限</string>
	<string>唱一首歌</string>
	<string>用手做枪，打劫你左边的第二个人</string>
	<string>做两个萌萌的鬼脸</string>
	<string>行洪荒之力，大笑三声：哈 哈 哈</string>
	<string>被在场每人刮一下鼻子或弹一个脑瓜</string>
	<string>你是一架飞机，张开臂膀，绕桌子飞一圈</string>
	<string>念20遍：班干部管班干部</string>
	<string>用口红在脸上画一颗❤️</string>
	<string>表演一下你中毒死去的样子</string>
	<string>全场的人鼓掌欢呼，你站起来点头致意</string>
	<string>模仿露露说：见到你很高兴！</string>
	<string>大喊：德玛西亚！</string>
	<string>大声念：我不断地洗澡，油腻的师姐在哪里？</string>
	<string>表演一下“呆若木鸡”</string>
	<string>摆一个你认为最性感的Pose</string>
	<string>双手抱头直到下一轮游戏结束</string>
	<string>闭上眼睛直到下一轮结束</string>
	<string>连续喝3杯可乐</string>
	<string>对在场某位你认为最好看的女生献一个飞吻</string>
	<string>狼嚎10秒</string>
	<string>悲伤的向左手第四位异性表白</string>
	<string>优雅的模仿小狗撒尿</string>
	<string>愤怒的喝下一杯饮料</string>
	<string>模仿一种动物让大家猜</string>
	<string>模仿费玉清：嘿~嘿~嘿~</string>
	<string>模仿一下婴儿的吮吸的表情</string>
</array>
</plist>
