<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string> 对窗外大喊“我好寂寞啊”</string>
	<string> 慢慢地性感地 把上衣撩起到不能再撩起的位置 </string>
	<string> 把右边第一个 异性横抱起来 </string>
	<string> 任选两个男生一起摆芙蓉姐姐的S形 </string>
	<string> 为右边第一个 男生脱衣服，由下一轮抽中的人再为他船上 </string>
	<string> 用手纸当围巾，围脖子上持续一轮游戏 </string>
	<string> 和右边第一个异性关在厕所里等一轮游戏 </string>
	<string> 露出肚皮，扭腰扭屁股，各扭3圈 </string>
	<string> 左手拉右耳，右手拉左耳，从桌子底下过  </string>
	<string> 在厕所里唱歌， 让大家都能听到唱的是什么  </string>
	<string> 和左边第一个 异性换穿上衣 </string>
	<string> 亲左数第二个 异性的额头</string>
	<string> 找一男生把腿架他肩膀上让他捶腿 </string>
	<string> 摸自己的胸说：“唉太小了” </string>
	<string> 两人面对面作搓澡状，屁股还要一扭一扭的，还要唱&quot;洗刷刷，洗刷刷&quot; </string>
	<string> 头顶簸箕，手 拿笤帚，边跳边唱道：我爱劳动，我爱卫生 </string>
	<string> 让一个女的想办法让某男兴奋起来 </string>
	<string> 情景剧：一男一女相遇，男生说：&quot;你好，我姓锄名禾，你呢？&quot;女生说：&quot;我名叫当午。&quot;男生女生同时说：&quot;哦！原来是锄禾日当午啊！&quot;  </string>
	<string> 正面对着十指 交扣，深情对视，深情朗诵骆宾王的《鹅》 </string>
	<string> 十指交扣握住 保持一轮 </string>
	<string> 和左边玩家对亲脖子 </string>
	<string> 亲吻在左变第二位异性的额头，这位异性不能拒绝</string>
	<string> 亲吻在右边第1位异性的额头，这位异性不能拒绝</string>
	<string> 亲在场某位异性，部位不限</string>
	<string> 女生坐男生小腿上，男生做仰卧起坐 </string>
	<string> 女生踩男生脚 上跳舞</string>
	<string> 对喝交杯酒</string>
	<string> 男生把女生面 对面抱起来，女生用双腿夹住男生 </string>
	<string> 男生抱起女生，保持5秒钟 </string>
	<string> 男生单腿下跪，女生亲男生额头</string>
	<string> 男生单腿下跪，女生伸手，男生亲女生手背 </string>
	<string> 男生将女生逼角落，用&quot;调情式&quot;一手撑墙，两人深情对视10秒</string>
	<string> 男生坐床上，女生躺床上，将头枕男生腿上，对视10秒</string>
	<string> 男生仰躺地上，女生撑在上面，坚持5秒钟</string>
	<string> 女生仰躺地上，男生撑在上面，做五下俯卧撑</string>
	<string> 一人先用嘴吸住一纸牌，另一人用嘴从另一面将纸牌吸住移走</string>
	<string>选一个女生说 ：我将把你紧紧 地搂在怀中，吻你亿万次，像在赤道上面那样炽烈的吻。（拿破仑致约瑟芬）</string>
	<string> 躺在床上摆pose说 饭在锅里，我在床上</string>
	<string> 选一个男生 一边捶他的胸一边说： 你好讨厌哦</string>
	<string> 大喊：燃烧吧，小宇宙～  </string>
	<string> 背起右边第一个女生</string>
	<string> 脱一件衣服持续到下一轮结束</string>
	<string> 和左数第一个异性亲一下</string>
	<string> 表演一段钢管舞</string>
	<string> 表演一段肚皮舞</string>
	<string> 正面相隔做接吻陶醉状10秒</string>
	<string> 侧抱互相喂 酒、喂吃的</string>
	<string> 男的用胳膊从正面量女的胸围or女的量男的腰围（臀围...)</string>
	<string>和左数第三位玩家嘴对嘴吃一根薯条（或其他）</string>
	<string>对左手第三位异性说：深情的向左边第四个异性表白一分钟</string>
	<string>背上一位在场玩家做5个俯卧撑</string>
	<string>和左边第三个异性发一张亲密的自拍发到朋友圈10分钟</string>
	<string>在朋友圈一条发说说：我长得真好看！</string>
	<string>选择一位异性对喝交杯酒</string>
	<string>亲吻左手第二位异性的额头</string>
	<string>脱一件衣服直到本轮结束</string>
	<string>调戏在座的某位异性玩家</string>
	<string>和你左边的人做15情侣应该做的事情</string>
	<string>在座的人轮流打一下你的屁股</string>
	<string>撩起上衣，让别人触摸并评价你的腹肌</string>
	<string>把手放进作数第二位异性的裤子里</string>
	<string>让大家饶你的痒痒</string>
	<string>与左手第一位异性接吻</string>
	<string>让在座的人参观你的包包</string>
	<string>轻抚左边第一位异性的胸部，大声说：这飞机场真平！</string>
	<string>把脸贴在右手第三位异性的胸里！</string>
	<string>亲一个年龄比你小的异性</string>
	<string>坐在右数第二位异性的腿上，大家决定你什么时候能下来</string>
	<string>选一个人熊抱并亲吻脖子</string>
	<string>舔一舔左边这位的耳朵</string>
	<string>打电话给前任说：你想Ta了</string>
	<string>鼻孔撑大，做斗鸡眼20秒</string>
	<string>把左手第二位异性逼到墙角，来一个激情的壁咚</string>
	<string>手指上沾巧克力或黄油，用最性感的方式添完</string>
	<string>用TT吹个气球</string>
	<string>舔一舔右边玩家的脖子</string>
</array>
</plist>
