<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string> 分手了还会和前任做朋友吗？</string>
	<string>哭得最伤心的是哪一次？为什么？</string>
	<string>如果跟你喜欢的人约会，碰到前任的男（女）朋友，会有什么表现？ </string>
	<string> 愿意为爱情牺牲到什么程度？</string>
	<string>如果让你选择做一个电影中的角色，你会选谁呢？</string>
	<string> 最后一次发自内心的笑是什么时候</string>
	<string> 说一件自己最丢人的事</string>
	<string> 初吻年龄 </string>
	<string> 这轮放过你。。。</string>
	<string> 会做菜吗？拿手菜是什么？</string>
	<string> 你觉得自己放的屁香不香？</string>
	<string> 收到最难忘的礼物是什么？</string>
	<string> 你希望你现在自己是几岁？</string>
	<string> 喜欢裸睡吗？</string>
	<string> 今天拉屎没有。。。</string>
	<string> 你觉得失去什么最可怕</string>
	<string> 什么事令你最反感？</string>
	<string> 你会选择救你妈吗？</string>
	<string> 朋友和恋人哪个更重要?</string>
	<string> 说出自己的体重</string>
	<string> 说出自己的身高（净身高哟。）</string>
	<string> 怎么看待恋爱？</string>
	<string> 看过 ”小电影“ 吗？</string>
	<string> 最喜欢的一本书是什么？</string>
	<string> 平时的休闲娱乐活动是什么？</string>
	<string> 如果你养宠物，你会选择喵星人还是汪星人？</string>
	<string> 喜欢什么品种的狗狗？</string>
	<string> 你觉得在场的哪个异性最好看？（好看在哪.）</string>
	<string> 结婚后希望生男孩还是女孩，为什么？（只能选一个）</string>
	<string> 打算什么时候结婚？ </string>
	<string> 你会不会在意ta的过去，为什么？  </string>
	<string> 你最怕的事情或东西是什么（说出三件）</string>
	<string> 每天睡觉前都会想起的人是谁？</string>
	<string> 谈过几次恋爱？</string>
	<string>让你一直念念不忘的一位异性的名字？原因？</string>
	<string>喜欢什么样的女生(男生)？</string>
	<string> 如果再给你一次机会，回到高中毕业那天，你最想对某一位异性说什么话？</string>
	<string>在现场所有同学中，你看哪位异性同学最舒服？</string>
	<string>你的初恋是在几岁? </string>
	<string>说出同寝室的人最让你受不了的习惯</string>
	<string>如果让你选择做一个电影中的角色，你会选谁呢？为什么？</string>
	<string>对自己哪个部位最不满意？</string>
	<string>最欣赏自己哪个部位？</string>
	<string>从小打到做过最丢脸的事是什么？</string>
	<string>你作弊使用过的最大的大招...</string>
	<string>对梦中情人有什么要求?(说出3条)</string>
	<string>大学所有考试中，你考到最低的一门是什么课，考了几分？</string>
	<string>大学一共挂过几门课？</string>
	<string>你觉得真心话大冒险中最尴尬的题目是什么… </string>
	<string>说一件你最近遇到的尴尬事。</string>
	<string>最喜欢谁的歌，为什么？</string>
	<string>最喜欢的水果是什么？</string>
	<string>挖鼻屎用的是哪根手指？</string>
	<string>你觉得最美的画面是什么？ </string>
	<string>想过自己以后是干什么的吗？你的理想职业是什么？</string>
	<string>世界末日，你会幸存，并且你可以救一个人，你会怎么做？</string>
	<string>如果从天而降99枚金币，你的第一反应是什么？ </string>
	<string>看到被点名的时候一霎那有没有想要杀我？ </string>
	<string>世上真的有真爱吗？你眼中的真爱是什么样的？ </string>
	<string>如果有一天自己觉得自己的某一次选择是错的，可是现在已经再也无法重新来，那该怎么办？</string>
	<string>远距离恋爱是否注定要分开？那么如果喜欢上一个遥远国度的人，你是否会选择跟他走？ </string>
	<string>你有恨过谁吗？ </string>
	<string>目前最大的愿望？ </string>
	<string>现在你最喜欢的人是谁？ </string>
	<string>你会选择你爱的人还是爱你的人？ </string>
	<string>你希望谁得到幸福？ </string>
	<string>在你心中谁最可信？ </string>
	<string>你的爱人要出国，你会怎么做？ </string>
	<string>你在乎别人看你的眼光吗？会为了众人的反对放弃自己想要的东西或人吗？ </string>
	<string>如果让你选择做一个电影中的角色，你会选谁呢？ </string>
	<string>情人节最想收到什么礼物？ </string>
	<string>哭得最伤心的是哪一次？为什么？ </string>
	<string>你认为多交朋友的好处在哪里？ </string>
	<string>当你被我点名的时候是什么心情？ </string>
	<string>最想感谢的人是谁？</string>
	<string>在爱情和面包中，你会选择哪个？为什么？ </string>
	<string>你最不开心的时候会有什么表现？ </string>
	<string>喜欢看什么动画片？ </string>
	<string>最珍爱的人是你右手的哪一个手指？ </string>
	<string>在你眼里，我是个怎样的人？我要听实话啦…… </string>
	<string>如果有一天我对你说我爱上你了，你怎么办？ </string>
	<string>到目前为止你做过最疯狂的事是？ </string>
	<string>如果有一天我和你吵架，你会怎么办？ </string>
	<string>如果能预知未来，你最不希望看见的是什么？ </string>
	<string>对你而言，爱情和友情哪个比较重要？ </string>
	<string>如果有一天，你生命中最重要的东西离你而去了，你会怎么办？ </string>
	<string>如果你爱的人不爱你怎么办？ </string>
	<string>你会如何向喜欢的人表白？ </string>
	<string>最喜欢的食物是什么? </string>
	<string>如果有来生，你选择当？ </string>
	<string>与喜欢的人见面，想要穿成什么样？ </string>
	<string>最喜欢哪部电影？ </string>
	<string>如果让你拥有一种超能力，你愿意拥有什么呢？ </string>
	<string>我在你眼里什么样？ </string>
	<string>最想实现的三个愿望是什么？ </string>
	<string>你心目中理想的爱人是什么样子呢？ </string>
	<string>如果时间能倒流你希望回到哪一时间？ </string>
	<string>如果给你一个机会去世界上任何一个地方旅行你会去?</string>
	<string>最后一次发自内心的笑是什么时候？ </string>
	<string>你最想要的5样东西 </string>
	<string>比较喜欢爸爸还是妈妈？ </string>
	<string>曾经有过最被感动的事是什么？ </string>
	<string>今年令你你最后悔的一件事是什么？ </string>
	<string>当你最不知道穿什么颜色的时候，你会选择什么颜色？ </string>
	<string>最喜欢哪首的歌？</string>
	<string>如果看到自己最爱的人熟睡在你面前你会做什么？</string>
	<string>用一个时髦的词形容你现在的精神状态？</string>
	<string>喜欢胸大的男孩子嘛？</string>
	<string>你得过的最大的一个奖品是什么？</string>
	<string>对自己现在的生活满意吗？</string>
	<string>你与在座哪位异性关系最好？</string>
	<string>会和自己的好朋友成为恋人吗？</string>
	<string>用一个成语形容以前的自己</string>
	<string>你敢和爱人呼唤手机一天吗？</string>
	<string>你现在穿的是平角裤还是三角裤？</string>
	<string>你认为适合结婚的年龄是多少？</string>
	<string>分享一次你最成功的恶作剧</string>
	<string>你洗一次澡要多久？</string>
</array>
</plist>
