<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string> 觉得今天的真心话尺度如何？</string>
	<string> 被舔过脸吗？</string>
	<string> 你最不能接受哪一个你对象的精神出轨还是肉体出轨?（只能选一个）</string>
	<string> 幻想过和某个老师XX吗？</string>
	<string> 能接受口交吗？</string>
	<string> 想象过在教室XX吗？</string>
	<string> 最令你兴奋的事是什么？</string>
	<string> 做爱的时候是主动方还是被动方？</string>
	<string> 你觉得在场哪位异性最早失贞？</string>
	<string> 你和你男朋友（女朋友）交往的目的是什么？</string>
	<string> 最满意你对象的什么特质？</string>
	<string> 喜欢裸睡吗？</string>
	<string> 如果看到自己最爱的人熟睡在你面前你会做什么?</string>
	<string>你觉得真心话大冒险中最尴尬的题目是什么… </string>
	<string> 你会不会在意ta的过去，为什么？  </string>
	<string> 分手了还会和前任做朋友吗？</string>
	<string> 能接受姐弟恋吗？</string>
	<string> 你手机中有黄色图片吗？（展示给大家看）</string>
	<string> 最变态的一次XX经历是什么？</string>
	<string> 最近被谁摸过屁股？</string>
	<string> 撞见过谁自慰吗？详细描述一下</string>
	<string> 在社交平台上勾搭过异性吗？</string>
	<string> 对同性恋的看法是？</string>
	<string> 你觉得自己是双性恋吗？</string>
	<string> 有想过3P吗？</string>
	<string> 描述一下令你最震撼的A片的内容</string>
	<string> 用一个时髦的词形容你高潮时的感受？</string>
	<string> 你修剪过自己私处的毛发吗？</string>
	<string> 你跟你对象的朋友XX过吗?</string>
	<string> 一周自慰几次？</string>
	<string> 你还是处吗？</string>
	<string> 你有过在做爱的时候想的是另一个人吗？</string>
	<string> 同时拥有过几个性伴侣？</string>
	<string> 你每天都洗PP吗？</string>
	<string> 婚后出轨过吗？精神出轨还是肉体出轨？（没结婚的跳过）</string>
	<string> 你在月经期间XX过吗？</string>
	<string> 你在做爱的时候聊天吗？</string>
	<string> 最近一次的尴尬症是在什么时候发生的？</string>
	<string> XX中遇到的最尴尬的事是什么？</string>
	<string> 说出尽可能多的性爱姿势，并举出用过哪几种？</string>
	<string> 做爱时用过小道具吗？</string>
	<string> 给自己的床上功夫评个星（满分五颗星）</string>
	<string> 约过炮吗？</string>
	<string> 曾经把自己的炮友介绍给朋友吗？</string>
	<string> 对自己的长度（胸围）满意吗？描述一下。</string>
	<string> 你摸过同性的隐私部位吗？</string>
	<string> 跟前任分手后又上过床吗？</string>
	<string> 尝试过口交吗？</string>
	<string> 尝试过肛交吗？</string>
	<string> 描述一段你的性幻想。</string>
	<string> 如果你已经不是单身，但是又爱上了别人，你会怎么办？</string>
	<string> 想不想尝试同性？</string>
	<string> 你是森林、草原、还是…（你懂的。）</string>
	<string> 你乳头上有毛吗？</string>
	<string> 你会在前戏中做些什么？</string>
	<string> 你会在意你女朋友的胸部大小吗？</string>
	<string> 大小对你很重要吗？（你懂的！）</string>
	<string> 你觉得在场的某一位最可能成为别人意淫的对象？</string>
	<string> 劈过腿吗？</string>
	<string> 第一次看到异性的裸体是多大？</string>
	<string> 详细描述一下你的第一次KISS！</string>
	<string> 如果你必须和在场的某个异性玩一夜情，你会选择谁？</string>
	<string> 你能否舔到自己的胸部？</string>
	<string> 曾经和处女（处男）做过爱吗？</string>
	<string> 最开心的XX经理是和谁度过的？</string>
	<string> 拉过的最长的屎有多长！用手比一下</string>
	<string> 从牵手到上床你最快用了多久？</string>
	<string> 你最疯狂的一次做爱是在哪里？</string>
	<string> 你认为没有爱可以性吗？</string>
	<string> 最喜欢的女优是谁？</string>
	<string> 有没有在没有脱光衣服的时候做爱高潮过？</string>
	<string> 你是什么罩杯？</string>
	<string> 用一个时髦的词描述一下你的私处。</string>
	<string> 描述一下你现在穿的内裤？</string>
	<string> 在游泳池里尿过尿吗（哈哈哈）。</string>
	<string> 你觉得做爱时，异性对你做什么会让你浴火难耐？</string>
	<string> 机会来了！反问发起这个游戏的玩家：你玩这个游戏有什么不可告人的秘密！</string>
	<string> 你的第一次在什么时候，地点是？</string>
	<string> 喜欢温柔方式的做爱 还是粗暴的？</string>
	<string> 跟几个异性发送过关系？</string>
	<string> 喜欢裸睡吗？</string>
	<string> 你和认识不超过一周的人发送关系吗？</string>
	<string> 多久换一次内裤？</string>
	<string> 你最多连续高潮几次？</string>
	<string> 会在婚前和对象发生关系吗？</string>
	<string> 第一次看黄色电影在什么时候？</string>
	<string> 你第一次自慰在几岁？</string>
	<string> 如果你和在场的某一位流落荒岛，你会选择谁？</string>
	<string> 你选择的避孕方式？</string>
	<string> 使用过催情药物吗？</string>
	<string> 有没有在公共场所XXOO过?在哪？</string>
	<string> 用过性玩具吗？</string>
	<string> XX的时候被撞见过吗？</string>
	<string> 说出自己JJ的长度…</string>
	<string> 拍过裸照吗？</string>
	<string> 有没有YY过在场的某位异性？</string>
	<string> 宁愿跟熟悉的一夜情还是陌生人？</string>
	<string> 曾经见过父母XXOO吗？</string>
	<string> 你自慰被撞见过吗？</string>
	<string> 给你三千万你愿意当小三吗？</string>
	<string> 有没有在办公室XX过？</string>
	<string> 对待SM的看法是？</string>
	<string> 尝试过SM？详细描述！</string>
	<string> 尝试过车震吗？详细描述！</string>
	<string> 在大姨妈期间XX过吗？</string>
	<string> 放你一马,跳过本轮！</string>
	<string> 又没有因为寂寞跟谁在一起过？</string>
	<string> 如果你跟一位你讨厌异性流落荒岛，你愿意跟 ta XX吗？</string>
	<string> 有没有自慰过？</string>
	<string> 你有可能爱上在座的某位吗？（不用指明是谁）</string>
	<string> 喜欢胸大的还是长得美腻的？（只能选择一个）</string>
	<string> 给自己的饥渴程度评个分（满分5颗星）</string>
	<string> 上一次XX的时间、地点、人物！</string>
	<string> 有过一夜情吗？</string>
	<string> 你最想和在座的哪位一起回家？</string>
	<string> 你拍过性爱照片(视频)吗？</string>
	<string> 描述日本AV和欧美AV的区别！</string>
	<string> 有没有想过和同性做爱！（假设对方很完美）</string>
	<string> 有梦到和任何认识的人XX吗？谁？</string>
	<string> 有没有在酒店XX过？</string>
	<string> 最近一次的幻想对象是谁？</string>
	<string> 看过H漫吗？</string>
	<string> 看过黄色小说吗？</string>
	<string> 尝试过野战吗？描述一下!</string>
	<string> 你最刺激的一次XX在什么地方？</string>
	<string> 你的前任中谁的床上功夫最让你满意？</string>
	<string> 一晚最多几次？</string>
	<string> 描述你内心最邪恶的XX场景。</string>
	<string> 说出你现任身上最让你受不了的特质</string>
	<string> 你强吻别人或被别人强吻过吗？</string>
	<string> 暗恋过在场哪一位？</string>
	<string> 如果有一天你变成异性，你最想干什么？</string>
	<string> 说出你左边第一位玩家让你最讨厌的特质。</string>
	<string> XXOO后你喜欢干嘛？</string>
	<string> 你做过最缺德的事是什么？</string>
	<string> 什么原因会让你没有余地的直接分手？</string>
	<string> 用一个新鲜的词描述你的隐私部位</string>
	<string> 你最受不了别人对你做什么。</string>
	<string> 今天穿什么颜色的内裤？</string>
	<string> 如果让你选择一夜情的地点你会选择一下哪一个，为什么？</string>
	<string> 如果情敌掉水里了，你会怎么样？</string>
	<string> 你曾经意淫过在场的哪一位？如果过去没有的话，你现在会选哪一位作为YY对象？ </string>
	<string> 你最近一次做春梦是什么样子的？</string>
	<string> 和恋人XXX的时候叫错了名字怎么办？ </string>
	<string> 第一次看A片是什么时候？</string>
	<string> 你的小癖好是什么。</string>
	<string> 你跟几个异性发生过关系。</string>
	<string> 手机里有”小电影“吗？</string>
	<string> 第一次ML是什么时候？</string>
	<string> 你一共收藏了多少黄色小电影？</string>
	<string> 你最多同时和几个人谈恋爱？</string>
	<string> 最喜欢哪个牌子的避孕套？</string>
	<string> 最喜欢哪个体位？</string>
	<string> 认同没有性的爱情和没有爱的性吗?</string>
	<string> 你认为你最性感的时候是什么？</string>
	<string> 想尝试SM吗？</string>
	<string> 会在意你女朋友（男朋友）的过去吗？</string>
	<string> 曾经幻想过和在场的某个异性发生关系吗？</string>
	<string> 认可同性恋吗？</string>
	<string> 你最愿意和在场哪个异性私奔？</string>
	<string> 一周自慰几次？</string>
	<string> 最近一次自慰是在什么时候？</string>
	<string> 会和没有感情基础的异性发生关系吗？</string>
	<string> 认同没有性的爱情和没有爱的性吗?</string>
	<string> 你认为在座的哪一位异性可以成为你的性幻想对象?</string>
	<string> 跟异性做过最亲密的事是什么？</string>
	<string> 如果前一个异性玩家爱上你了，你怎么办？</string>
	<string> 在场哪一位异性对你说我喜欢你，你会最开心？</string>
	<string> 你想和在场的哪一位玩大冒险？</string>
	<string> 你希望右边第2位异性是你的谁?</string>
	<string> 你是否幻想过或希望和你喜欢的人做那些事？只用回答有或没有（如实回答）</string>
	<string> 你希望左边第1位异性是你的谁？</string>
	<string> 情人节最想收到什么礼物？</string>
	<string> 在你洗澡时，有一个非常丑的异性冲了进来，你会怎么样（实话实说，希望不要采用极端手法）</string>
	<string> 你对左边第三个异性有什么感觉？要具体。</string>
	<string> 男生回答自己的下面有多长？</string>
	<string> 说出在场的某位玩家最令你欣赏的特质？</string>
	<string>现在和多少异性有非恋爱的暧昧关系？</string>
	<string>你觉得你身上的兴奋点在哪里? </string>
	<string> 最近一次看A片是在什么时候？</string>
	<string> 常常看A片？对A片有什么想法？</string>
	<string> 上厕所没带纸，钱包里有一张100人民币和女朋友照片，你用那个？</string>
	<string> 你曾经有过的最龌龊的想法！ </string>
	<string> 上厕所没带纸，等多久都没人来，怎样办？ </string>
	<string> 在街上偶遇心爱的人，并开端一段气氛很好的对话，可是忽然内急，你会怎样做？ </string>
	<string> 通常用哪根手指挖鼻子？ </string>
	<string> 你假如洗澡洗一半全身都是泡的时分停水了，怎样办？ </string>
	<string> 夸我三个优点。 </string>
	<string> 你所做过最缺德的事？ </string>
	<string> 暗恋你的人向你表白你怎样办？ </string>
	<string>怎样看待性？ </string>
	<string>我和你恋人同时约你，你会陪谁？ </string>
	<string>你会在婚前发生性行为吗？ </string>
	<string>如果有一天我对你说我爱上你了，你怎么办？</string>
	<string>如果有一天我和你吵架，你会怎么办？  </string>
	<string> 身上哪个部位最敏感</string>
	<string> 说出今天内裤的颜色</string>
	<string> 最喜欢在座哪位异性 </string>
	<string> 和男朋友（女朋友）进行到哪一步了？</string>
	<string>给自己的出轨指数打个分（满分五个星）</string>
	<string>有没有同时和多名异性交往过？</string>
	<string>用一个成语形容你高潮时的感受</string>
	<string>最糟糕的XX经历是和谁一起做的？</string>
	<string>性生活的频率</string>
	<string>讲个黄段子</string>
	<string>说出5位日本老湿的名字</string>
	<string>屋子里谁的胸最大</string>
	<string>用在场的一件物品形容你的大小（你懂得）</string>
	<string>曾经在微信上找过一夜情吗？</string>
	<string>你曾经在XX的时候干别的吗？做什么呢？</string>
	<string>曾经和几个异性同居过？</string>
	<string>你约过的最小的异性是几岁？</string>
	<string>有没有你后悔和他上过床的男人？</string>
	<string>打过野战吗？形容一下</string>
	<string>你希望在座的谁成为你的奴隶？悄悄告诉Ta你想要做什么？</string>
	<string>你约过的最大的异性是几岁？</string>
	<string>有过一夜情吗？</string>
	<string>能忍受独守空房多少时候？</string>
	<string>曾经为了什么事情想要自杀？</string>
	<string>想被包养吗？</string>
	<string>在月经期间做过爱吗？</string>
	<string>你最常用的体位是？</string>
	<string>在座你最想打的人是谁？为什么？</string>
	<string>你跟在座的某位做过爱吗？说谎会长胖/早泄哦！</string>
	<string>尝试过角色扮演吗？</string>
	<string>摸过同性朋友的隐私部位吗？</string>
	<string>如果角色扮演的话，你想将自己打扮成什么样？</string>
	<string>背叛过你的另一半吗？几次？</string>
	<string>你曾有过奇怪的性嗜好吗？</string>
	<string>有没有和同性XX过?</string>
	<string>你更在意现任的身材还是脸蛋？</string>
	<string>有没有和不喜欢的人做过爱？</string>
	<string>说出自己最害怕被别人知道的隐私</string>
	<string>如何必须和在座的一个异性玩家XX，你选谁？</string>
	<string>玩过脱衣游戏吗？如果有你会玩吗？</string>
	<string>海滩或山间小屋，你更喜欢在那一处做爱，为什么？</string>
	<string>尝试过电话XX吗？</string>
	<string>看过在座哪位的裸体？</string>
	<string>贞操没了以后后悔过吗？</string>
	<string>上次做爱的时间，地点，人物？</string>
	<string>你认为你性成熟是在几岁？</string>
	<string>从认识到上床最快用了多久？</string>
	<string>描述一下你是在什么时候怎么样失去贞洁的？</string>
	<string>曾经在一天之内和不同的人XX过吗？</string>
	<string>自慰被谁撞见过吗？</string>
	<string>你一周之内最多睡过几个人？</string>
	<string>说实话你的现任能满足你的性欲吗？</string>
	<string>你接受换妻吗?</string>
	<string>说出身边一位Gay朋友的名字！</string>
	<string>通常最先欣赏异性的哪个部位？</string>
	<string>另一半做了什么事会让你觉得不可原谅？</string>
	<string>猜猜在座每一位女生的胸围</string>
	<string>猜猜在座每位男生的长度</string>
	<string>你的木耳/JJ是什么颜色的？</string>
	<string>为了骗对方跟你上床，你撒过的最大慌是什么？</string>
	<string>如果叫你跟在座的人3P，你会选择哪两个？悄悄告诉你左边的玩家</string>
	<string>你认为在座的哪位异性床上功夫最厉害</string>
	<string>最讨厌的体位是？为什么？</string>
	<string>每次XX都能高潮吗？不是的话比例是多少？</string>
	<string>你觉得什么样式的内裤最性感？</string>
	<string>向别人分享过你的性爱照片吗？</string>
	<string>你觉得自慰有可能会比真实的性爱好吗？</string>
	<string>时间最短的一次有多短？</string>
	<string>描述你最刺激的性爱经历</string>
</array>
</plist>
